.functionalities-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    max-width: 1500px;
}

.functionalities-hero {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px 90px 20px;
}

.functionalities-hero > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    gap: 100px;
}

.functionalities-hero > div > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.functionalities-hero h1 {
    font-size: 48px;
    font-weight: 700;
    color: #002855;
    line-height: 3.4rem;
    text-align: left;
}

.functionalities-hero > div > div > p {
    font-size: 20px;
    color: rgb(60, 60, 60);
    line-height: 1.5rem;
    text-align: left;
}

.functionalities-hero button {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 24px;
}

.functionalities-hero img {
    width: 460px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.1);
}

.functionalities-simulator {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 20px 90px 20px;
}

.functionalities-simulator > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    gap: 60px;
}

.functionalities-simulator h2 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: #002855;
    line-height: 2.6rem;
}

.functionalities-simulator > div > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
    padding: 24px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.2);
}

.functionalities-simulator-img {
    display: flex;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    border-radius: 8px;
    height: 100%;
}

.functionalities-simulator-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.functionalities-simulator-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    width: 100%;
    height: 100%;
}

.functionalities-simulator-text > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    text-align: left;
    gap: 16px;
    background-color: #e2e2e2;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
}

.functionalities-simulator-text > div:nth-child(1) > h3 {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: #002855;
    line-height: 1.5rem;
}

.functionalities-simulator-text > div:nth-child(1) > p {
    font-size: 16px;
    text-align: left;
    color: black;
    line-height: 1.5rem;
}

.functionalities-simulator-text > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    text-align: left;
    gap: 16px;
    background-color: #0c2036;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
}

.functionalities-simulator-text > div:nth-child(2) > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
}

.functionalities-simulator-text > div:nth-child(2) > div:nth-child(1) > h3 {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: #b4d2f1;
    line-height: 1.5rem;
}

.functionalities-simulator-text > div:nth-child(2) > div:nth-child(1) > p {
    font-size: 16px;
    text-align: left;
    color: white;
    line-height: 1.5rem;
}

.functionalities-simulator-text> div:nth-child(2) > div:nth-child(2) {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.functionalities-simulator-text > div:nth-child(2) > div:nth-child(2) > svg {
    width: 40px;
    height: 40px;
    background-color: #fad02c;
    border-radius: 50%;
    padding: 8px;
    color: #002855;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.functionalities-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 20px 90px 20px;
}

.functionalities-list > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    gap: 60px;
}

.functionalities-list h2 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: #002855;
    line-height: 2.6rem;
}

.functionalities-list ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 1500px;
    gap: 40px;
}

.functionalities-platforms {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 20px 90px 20px;
}

.functionalities-platforms > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    width: 100%;
    gap: 60px;
}

.functionalities-platforms h2 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: #002855;
    line-height: 2.6rem;
}

.functionalities-platforms ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    width: 100%;
    gap: 40px;
}